{% extends "pos/base.html" %}
{% block pos_content %}

{% if error %}
{% include "pos/partials/gates/error.html" %}
{% elif no_shift %}
{% include "pos/partials/gates/no_shift.html" %}
{% elif order %}
<div class="h-full flex" x-data="{ activeGroup: 'All', search: '' }">

  {% comment %}========== CART PANEL (LEFT) =========={% endcomment %}
  {% partialdef cart inline %}
  {% include "pos/partials/cart/panel.html" %}
  {% endpartialdef %}

  {% comment %}========== CATALOG (RIGHT) =========={% endcomment %}
  {% include "pos/partials/catalog/panel.html" %}

  {% comment %}========== PAYMENT DIALOG (HTMX-loaded) =========={% endcomment %}
  {% partialdef payment_dialog %}
  {% include "pos/partials/payment/dialog.html" %}
  {% endpartialdef %}

  <div id="payment-dialog-container"></div>
</div>
{% endif %}

{% endblock %}
