{% extends "web/base.html" %}
{% load static %}
{% load form_tags %}
{% block body %}
  <div class="flex justify-center my-8 ">
    <div class="w-96 px-4 py-4">
      <div>
        <h2 class="mt-6 text-center text-2xl font-bold text-gray-900 dark:text-gray-100">
          Sign Up
        </h2>
        <form class="mt-6 space-y-6" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% render_field form.username %}
          {% render_field form.password1 %}
          {% render_field form.password2 %}
          <div class="relative overflow-hidden">
            {% render_field form.phone_number_x %}
          </div>
          <input class="inline-flex items-center px-4 py-2 rounded-md bg-blue-600 text-white hover:bg-blue-700 font-medium transition-colors w-full" type="submit" value="Sign Up">
        </form>
        <div class="text-sm mt-4">
          Already have account?
          <a href="{% url 'account_login' %}" class="font-medium text-blue-600 hover:text-blue-800">
            Sign in.
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
